{% extends 'base.html' %}

{% block content %}

<h2 class="text-center mb-4">Assignments</h2>

<div class="row">

{% for a in assignments %}
    <div class="col-md-4">
        <div class="card shadow mb-4">
            <div class="card-body">

                <h5 class="card-title">{{ a.title }}</h5>

                {% if a.id in submitted %}
                    <span class="badge bg-success">Submitted</span>
                {% else %}
                    <a href="/upload/{{ a.id }}" class="btn btn-primary">
                        Upload Assignment
                    </a>
                {% endif %}

            </div>
        </div>
    </div>
{% endfor %}

</div>

{% endblock %}


